version: '3.8'

services:
  # --- تطبيق Flask ---
  flask_app:
    build: .
    container_name: medical_flask_app
    restart: always
    ports:
      - "2005:2005"
    volumes:
      - .:/app
      - ./instance:/app/instance  # مهم جداً عشان ملف medical.db
    environment:
      - FLASK_ENV=production
      - DOCKER_ENV=true
      - PYTHONUNBUFFERED=1
    depends_on:
      - waha_1
      - waha_2
    networks:
      - medical_network

  # --- حاوية واتساب الأولى ---
  waha_1:
    image: devlikeapro/waha
    container_name: waha_container_1
    restart: always
    ports:
      - "3001:3000"
    environment:
      - WAHA_DASHBOARD_USERNAME=admin
      - WAHA_DASHBOARD_PASSWORD=admin123
      - WAHA_API_KEY=key123
    volumes:
      - ./waha_1_sessions:/app/.sessions # حفظ جلسات الواتساب
    networks:
      - medical_network

  # --- حاوية واتساب الثانية ---
  waha_2:
    image: devlikeapro/waha
    container_name: waha_container_2
    restart: always
    ports:
      - "3002:3000"
    environment:
      - WAHA_DASHBOARD_USERNAME=admin
      - WAHA_DASHBOARD_PASSWORD=admin123
      - WAHA_API_KEY=key123
    volumes:
      - ./waha_2_sessions:/app/.sessions # حفظ جلسات الواتساب
    networks:
      - medical_network

networks:
  medical_network:
    driver: bridge